.book {
  background-color: #dc3545;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  margin: 50px 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-read,
.delete-button {
  background-color: #6c757d;
}

button {
  width: auto !important;
  color: white !important;
}

.nav-bar-image {
  width: 30px;
  height: 30px;
}

.bg-dark-custom {
  background-color: #9596bd;
}
